### Intermediate datasets 

| Original /Intermediate dataset | Name |
| --- | ----------- | 
| D1 | emigrazione |
| D2, D3 | indipendenza economica | 
| D17 | occupazione laureati | 
| D4, D6 | condizione lavorativa per età |
| D7, D5 | retribuzione lavoro |

### I1 : indipendenza economica

In [94]:
import pandas as pd

# Read the CSV file
young = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D2.csv", encoding="utf-8")
young.head(5)

         area  time_period  num_young
0  Nord-ovest         2014       60.6
1  Nord-ovest         2015       58.4
2  Nord-ovest         2016       59.3
3  Nord-ovest         2017       57.2
4  Nord-ovest         2018       57.6

In [95]:
import pandas as pd

# Read the CSV file
house = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D3.csv", encoding="utf-8")
house.head(5)

         area  time_period  indices
0  Nord-ovest         2014    104.3
1  Nord-ovest         2015    100.0
2  Nord-ovest         2016    100.2
3  Nord-ovest         2017     99.5
4  Nord-ovest         2018     99.4

In [96]:
i1 = pd.merge(young, house, on=["time_period", "area"])
i1.to_csv("C:/Users/crosi/Documents/Github/cif/datasets/intermediate_datasets/i1.csv", index=False)
i1.head(5)

         area  time_period  num_young  indices
0  Nord-ovest         2014       60.6    104.3
1  Nord-ovest         2015       58.4    100.0
2  Nord-ovest         2016       59.3    100.2
3  Nord-ovest         2017       57.2     99.5
4  Nord-ovest         2018       57.6     99.4

### I2 : condizione lavorativa per età

In [97]:
import pandas as pd

# Read the CSV file
education = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D4.csv", encoding="utf-8")
education

,satisfaction_level,qualification,time_period,percentage
0,very much,"Primary school certificate, no educational degree",2014,31.3
1,very much,"Primary school certificate, no educational degree",2015,18.7
2,very much,"Primary school certificate, no educational degree",2016,0.0
3,very much,"Primary school certificate, no educational degree",2017,32.3
4,very much,"Primary school certificate, no educational degree",2018,44.7
...,...,...,...,...
175,not at all,Total,2018,4.6
176,not at all,Total,2019,4.1
177,not at all,Total,2020,2.9
178,not at all,Total,2021,2.7
179,not at all,Total,2022,1.3

In [98]:
import pandas as pd

# Read the CSV file
satisfaction = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D6.csv", encoding="utf-8")
satisfaction

      area         economic_activity  time_period  hourly_wage
0    Italy                     TOTAL         2014         9.76
1    Italy                     TOTAL         2015         9.90
2    Italy                     TOTAL         2016         9.92
3    Italy                     TOTAL         2017        10.03
4    Italy                     TOTAL         2018        10.06
..     ...                       ...          ...          ...
835    Sud  Other service activities         2017         7.72
836    Sud  Other service activities         2018         7.67
837    Sud  Other service activities         2019         7.70
838    Sud  Other service activities         2020         7.81
839    Sud  Other service activities         2021         7.87

[840 rows x 4 columns]

In [99]:
i2 = pd.merge(education, satisfaction, on="time_period")
i2.to_csv("C:/Users/crosi/Documents/Github/cif/datasets/intermediate_datasets/i2.csv", index=False)
i2.head(5)

,satisfaction_level,qualification,time_period,percentage,area,economic_activity,hourly_wage
0,very much,"Primary school certificate, no educational degree",2014,31.3,Italy,TOTAL,9.76
1,very much,"Primary school certificate, no educational degree",2014,31.3,Italy,TOTAL INDUSTRY (b to f),9.84
2,very much,"Primary school certificate, no educational degree",2014,31.3,Italy,TOTAL INDUSTRY EXCLUDING CONSTRUCTION (b to e),9.95
3,very much,"Primary school certificate, no educational degree",2014,31.3,Italy,Mining and quarrying,12.93
4,very much,"Primary school certificate, no educational degree",2014,31.3,Italy,Manufacturing,9.88

### I3 : retribuzione lavorativa

In [100]:
import pandas as pd

# Read the CSV file
c = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D5.csv", encoding="utf-8")
c

,area,contract,economic_activity,time_period,hourly_wage
0,Italy,Temporary employees,TOTAL,2014,10.05
1,Italy,Temporary employees,TOTAL,2015,10.33
2,Italy,Temporary employees,TOTAL,2016,10.24
3,Italy,Temporary employees,TOTAL,2017,10.25
4,Italy,Temporary employees,TOTAL,2018,10.27
...,...,...,...,...,...
2515,Sud,Total,Other service activities,2017,8.16
2516,Sud,Total,Other service activities,2018,8.14
2517,Sud,Total,Other service activities,2019,8.17
2518,Sud,Total,Other service activities,2020,8.40
2519,Sud,Total,Other service activities,2021,8.47

In [101]:
import pandas as pd

# Read the CSV file
educationalq = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D7.csv", encoding="utf-8")
educationalq

,area,economic_activity,qualification,time_period,hourly_wage
0,Italy,TOTAL,"No educational degree, primary and lower secon...",2014,10.53
1,Italy,TOTAL,"No educational degree, primary and lower secon...",2015,10.70
2,Italy,TOTAL,"No educational degree, primary and lower secon...",2016,10.69
3,Italy,TOTAL,"No educational degree, primary and lower secon...",2017,10.73
4,Italy,TOTAL,"No educational degree, primary and lower secon...",2018,10.74
...,...,...,...,...,...
3460,Sud,Other service activities,Total,2017,8.16
3461,Sud,Other service activities,Total,2018,8.14
3462,Sud,Other service activities,Total,2019,8.17
3463,Sud,Other service activities,Total,2020,8.40
3464,Sud,Other service activities,Total,2021,8.47

In [103]:
i3 = pd.merge(c, educationalq, on=["time_period", "area", "economic_activity"])
i2.to_csv("C:/Users/crosi/Documents/Github/cif/datasets/intermediate_datasets/i2.csv", index=False)
i3

,area,contract,economic_activity,time_period,hourly_wage_x,qualification,hourly_wage_y
0,Italy,Temporary employees,TOTAL,2014,10.05,"No educational degree, primary and lower secon...",10.53
1,Italy,Temporary employees,TOTAL,2014,10.05,Upper and post secondary,11.41
2,Italy,Temporary employees,TOTAL,2014,10.05,"Tertiary (university, doctoral and specializat...",13.83
3,Italy,Temporary employees,TOTAL,2014,10.05,Total,11.06
4,Italy,Permanent employees,TOTAL,2014,11.69,"No educational degree, primary and lower secon...",10.53
...,...,...,...,...,...,...,...
10390,Sud,Permanent employees,Other service activities,2021,8.53,Total,8.47
10391,Sud,Total,Other service activities,2021,8.47,"No educational degree, primary and lower secon...",8.33
10392,Sud,Total,Other service activities,2021,8.47,Upper and post secondary,8.43
10393,Sud,Total,Other service activities,2021,8.47,"Tertiary (university, doctoral and specializat...",10.50
10394,Sud,Total,Other service activities,2021,8.47,Total,8.47