## Mash-up datasets. 

The goal of the mash-up datasets is to merge data that is spread among different original datasets. The final datasets that we aim to create are the following:

| Original /Intermediate dataset | Description of the dataset | Name |
| --- | ----------- | --- |
| D1, I1 | numero di giovani emigrati, statistiche su prezzo case e giovani a casa | F1 |

### F1

This dataset contains the number of young people emigrated from Italy, house prices and number of young people still living at home with their parents from 2014 to 2022.

In [6]:
import pandas as pd

# Read the CSV file
emigrated = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/cleaned_csv/D1.csv", encoding="utf-8")
emigrated.head(5)

    area  time_period  num_emigrates
0  Italy         2014          45074
1  Italy         2015          51048
2  Italy         2016          60788
3  Italy         2017          61553
4  Italy         2018          63570

In [7]:
import pandas as pd

# Read the CSV file
young = pd.read_csv("C:/Users/crosi/Documents/GitHub/cif/datasets/intermediate_datasets/i1.csv", encoding="utf-8")
young.head(5)

         area  time_period  num_young  indices
0  Nord-ovest         2014       60.6    104.3
1  Nord-ovest         2015       58.4    100.0
2  Nord-ovest         2016       59.3    100.2
3  Nord-ovest         2017       57.2     99.5
4  Nord-ovest         2018       57.6     99.4

In [8]:
f1 = pd.merge(young, emigrated, on=["time_period", "area"])
f1.to_csv("C:/Users/crosi/Documents/Github/cif/datasets/f1.csv", index=False)
f1.head(5)

         area  time_period  num_young  indices  num_emigrates
0  Nord-ovest         2014       60.6    104.3          13043
1  Nord-ovest         2015       58.4    100.0          14567
2  Nord-ovest         2016       59.3    100.2          16597
3  Nord-ovest         2017       57.2     99.5          16818
4  Nord-ovest         2018       57.6     99.4          17253